<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>BootCruit || Coding Bootcamp Student Profile</title>
    <meta name="description=" content="Coding bootcamp student profile to view and update with skills and contact information to be viewed by recruiters and employers.">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="./css/mdb.min.css" rel="stylesheet">

    <link href="./css/style.css" rel="stylesheet">

</head>

<body>

    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong>BootCruit</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about#contact">Contact</a>

                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    <!--Mask-->
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
              <br>
            <!--Form with header-->
            <div class="container" id="container">
                <br>
                <div class=row>
                    <div class="col-md-2"></div>
                    <div class="col-md-6">
                        <div class="form">

                              <div class="profile wow fadeInLeft" id="editform" data-wow-delay="0.2s">
                                  <form action="/update/profile?_method=PUT" method="POST">
                                    <br>

                                    <div class="md-form input-group">
                                        <input placeholder="" type="text" id="firstname" class="form-control" value="{{firstname}}" name="firstname">
                                        <label for="form1">First Name</label>
                                    </div>
                                    <div class="md-form input-group">
                                        <input placeholder="" type="text" id="lastname" class="form-control" value="{{lastname}}" name="lastname">
                                        <label for="form2">Last Name</label>
                                    </div>
                                    <div class="md-form input-group">
                                        <input placeholder="" type="text" id="phonenumber" class="form-control" value="{{phoneNumber}}" name="phoneNumber">
                                        <label for="form3">Phone Number</label>
                                    </div>
                                    <div class="md-form input-group">
                                        <input placeholder="" type="email" id="email" class="form-control" value="{{email}}" name="email">
                                        <label for="form4">Email</label>
                                    </div>
                                    <div class="md-form input-group">
                                        <input placeholder="" type="text" id="github" class="form-control" value="{{github}}" name="github">
                                        <label for="form5">GitHub Link</label>
                                    </div>
                                </form>
                            <p class="pskills">Please select all skills that apply:</p>
                            <form class="form-inline">

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="HTML" value="{{HTML}}">
                                    <label for="checkbox1">HTML</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="CSS" value="{{CSS}}">
                                    <label for="checkbox2">CSS</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="JavaScript" value="{{JavaScript}}">
                                    <label for="checkbox3">Javascript</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Nodejs" value="{{Nodejs}}">
                                    <label for="checkbox4">Node.js</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="mySQL" value="{{mySQL}}">
                                    <label for="checkbox5">mySQL</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Express" value="{{Express}}">
                                    <label for="checkbox6">Express</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Handlebars" value="{{Handlebars}}">
                                    <label for="checkbox7">Handlebars</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Bootstrap" value="{{Bootstrap}}">
                                    <label for="checkbox8">Bootstrap</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Python" value="{{Python}}">
                                    <label for="checkbox9">Python</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Angular" value="{{Angular}}">
                                    <label for="checkbox10">Angular</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Ruby" value="{{Ruby}}">
                                    <label for="checkbox11">Ruby</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Flask" value="{{Flask}}">
                                    <label for="checkbox12">Flask</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Java" value="{{Java}}">
                                    <label for="checkbox13">Java</label>
                                </fieldset>

                                <fieldset class="form-group">
                                    <input type="checkbox" class="filled-in" id="Cplusplus" value="{{Cplusplus}}">
                                    <label for="checkbox14">C++</label>
                                </fieldset>
                                <br>
                            </form>
                            <form method='post' action='upload' enctype="multipart/form-data">
                                <div class="file-field">
                                    <div class="btn btn-elegant btn-md">
                                        <span>Upload your profile photo</span>
                                        <input type='file' name='fileUploaded'>
                                        <input id="imageSubmit" type='submit'>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                    <div class="col-md-2 hidden-xs">
                      <div class="profile wow fadeInRight" data-wow-delay="0.2s">
                      <h2 class="editprof">Edit BootCruit Profile</h2>
                        <img src="../img/profile_images/{{photo}}" onerror="this.src='http://websamplenow.com/30/userprofile/images/avatar.jpg'" class="img-responsive img-thumbnail img-circle">
                        <!-- Rounded switch -->
                        <p>Profile Visibility:</p>
                        <label class="switch">
                          <input type="checkbox">
                          <div class="slider round"></div>
                        </label>
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <a href="#aboutModal" class="btn btn-indigo" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i> Preview</a>
                            <button class="btn btn-default" id="update"><i class="fa fa-check-circle" aria-hidden="true"></i> Save</button>


                            <a href="#" class="btn btn-deep-orange" value="" id="clear"><i class="fa fa-eraser" aria-hidden="true"></i> Clear</a>

                          <a href="/delete" id="delete" class="btn btn" value=""><i class="fa fa-trash" aria-hidden="true"></i> Delete Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="profModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header blue-gradient">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="editprof modal-title" id="profModal">More About {{firstname}}</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="../img/profile_images/{{photo}}" onerror="this.src='http://websamplenow.com/30/userprofile/images/avatar.jpg'" name="aboutme" width="200" height="200" border="0" class="img-responsive img-thumbnail"></a>
                    <h3 class="media-heading"><h2>{{firstname}} {{lastname}}</h2>
                    {{institution}}</h3><br><hr>
                    <span><strong>Skills: </strong></span>
                        {{#if HTML}}<span class="badge badge-primary"> HTML </span>{{/if}}
                        {{#if CSS}}<span class="badge badge-success"> CSS </span>{{/if}}
                        {{#if JavaScript}}<span class="badge badge-info"> JavaScript </span>{{/if}}
                        {{#if Angularjs}}<span class="badge badge-warning"> Angular.JS </span>{{/if}}
                        {{#if Nodejs}}<span class="badge badge-danger"> Node.js </span>{{/if}}
                        {{#if mySQL}}<span class="badge badge-success"> mySQL </span>{{/if}}
                        {{#if Express}}<span class="badge badge-info"> Express </span>{{/if}}
                        {{#if Handlebars}}<span class="badge badge-warning"> Handlebars </span>{{/if}}
                        {{#if Bootstrap}}<span class="badge badge-danger"> Bootstrap</span>{{/if}}
                        {{#if Python}}<span class="badge badge-primary"> Python </span>{{/if}}
                        {{#if Ruby}}<span class="badge badge-success"> Ruby </span>{{/if}}
                        {{#if Flask}}<span class="badge badge-info"> Flask </span>{{/if}}
                        {{#if Java}}<span class="badge badge-warning"> Java </span>{{/if}}
                        {{#if Cplusplus}}<span class="badge badge-danger"> C++ </span>{{/if}}
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Contact Information: </strong></p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> {{email}}</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> {{phoneNumber}}</p>
                    <p><i class="fa fa-github" aria-hidden="true"></i> <a href="{{github}}">{{github}}</a></p>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="editprof btn btn-deep-orange" data-dismiss="modal"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--/.Mask-->

    <!-- Main container-->
    <div class="container">



    </div>
    <!--/ Main container-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="./js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./js/mdb.min.js"></script>

    <!-- Animations init-->
    <script>
    $(document).ready(function(){
        new WOW().init();

        var app = (function () {

            // Sending a notification messages that mentioned data has been updated
            var updateMsg = function (msg) {
                $("#infoUpdated").remove();
                var info = $("<p>");
                info.html(msg)
                        .attr("id", 'infoUpdated');
                $("#container").prepend(info);

                var counter = 0;

                var timer = setInterval(function () {
                    counter++;
                    console.log(counter);
                    if(counter >= 5){

                        clearInterval(timer);
                        $("#infoUpdated").remove();

                    }

                }, 1000)

            }; // End of Update Msg


            // Getting values from the users
            var getValue = function () {
                var firstname = $("#firstname").val().trim(), lastname = $("#lastname").val().trim(),
                        phoneNumber = $("#phonenumber").val().trim(), email = $("#email").val().trim(),
                        github = $("#github").val().trim();

                var profileInfo = {
                    firstname: firstname,
                    lastname: lastname,
                    email: email,
                    phoneNumber: phoneNumber,
                    github: github
                };

                $('input[type="checkbox"]:not(:checked)').each(function(){
                    profileInfo[$(this).attr('id')] = false;
                })

                $('input[type="checkbox"]:checked').each(function() {
                    profileInfo[$(this).attr('id')] = true;
                });


                console.log(profileInfo);


                return profileInfo;
            }; // end of getting values


            // Updating profile info
            var update = function () {
                event.preventDefault();

                $("#imageSubmit").on("click", function (event) {
                    event.preventDefault();
                });

                // Posting to the Database
                $.post("/update/profile", getValue(), function (data) {
                    console.log("Data has successfully been posted!!!");
                    if(data === "ok"){
                        location.reload();
                        updateMsg("Your info has been updated!");

                    }else if(data !== "ok"){
                        location.reload();
                        updateMsg("Sorry we were not able to update your profile");
                    }
                });

            };


            // Clearing values when user clicks
            var clear = function () {
                $("#firstname").val("");
                $("#lastname").val("");
                $("#phonenumber").val("");
                $("#github").val("");
            };


            // Deleting user
            var deleteUser = function () {
                event.preventDefault();
                $.ajax({
                    method: "DELETE",
                    url: "/delete"
                }).done(function() {
                    window.location="/index";

                });

            };



            // Main process of the app
            var mainProcess = function () {
                $("#update").on("click", update);// updating
                $("#clear").on("click", clear); // Clearing values
                $("#delete").on("click", deleteUser);
            };




            return {
                start: mainProcess
            }

        })();

 app.start();

 $('input[type="checkbox"]').each(function(){
    if($(this).val() === "true"){
        $(this).prop('checked',true);
    }
 });
});

    </script>


</body>

</html>
